<?xml version="1.0" encoding="utf-8"?>
<!--
OPTIONAL: Place this manifest in the folder Plugins/Android/.
This way your game will be immersive from the very start.
This means that even the Unity splash screen will be immersive.
You don't have to call 'ImmersiveMode.AddCurrentActvity()' anymore.
However, doing this requires some knowledge about manifests.
If you are using other Android plugins for Unity,
chances are this file will conflict with an existing manifest.
In that case, you would have to merge both files into one.
Change 'com.company.productname' to your bundle identifier below.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.company.productname" >
  <application
      android:allowBackup="true"
      android:icon="@drawable/app_icon"
      android:label="@string/app_name" >
    <activity
        android:name="com.unity3d.player.UnityPlayerActivity"
        android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
        android:label="@string/app_name" />
    <activity
        android:name="com.ruudlenders.immersivemode.ImmersiveMode"
        android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
        android:label="@string/app_name" >
      <meta-data
          android:name="android.app.lib_name"
          android:value="unity" />
      <meta-data
          android:name="unityplayer.ForwardNativeEventsToDalvik"
          android:value="true" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>
</manifest>
